<%= form_for user, url: '/users', data: {turbo: false} do |form| %>
    <% if user.errors.any? %>
    <div class="alert alert-danger" role="alert">
        <ul>
            <% user.errors.full_messages.each do |msg| %>
                <li><%= msg %></li> 
            <% end %>
        </ul>
    </div>
    <% end %>
  <div>
    <%= form.label :username, style: "display: block" %>
    <%= form.text_field :username %>
  </div>

  <div>
    <%= form.label :password, style: "display: block" %>
    <%= form.text_field :password %>
  </div>

  <div>
  <%= form.label :password_confirmation, style: "display: block"%>
  <%= form.password_field :password_confirmation %>
</div>

  <div class='mt-3'>
    <%= form.submit %>
  </div>

<% end %>