
<% if flash[:notice]%>
    <div class="alert alert-success" role="alert">
      <%= flash[:notice] %>
    </div>
<%end%>

<% if @cart_items.any? %>
    <div class='container-fluid'>
        <%= render 'confirm_shipping' %>
        <%= render 'confirm_cart' %>
        <%= link_to 'Proceed to Checkout', checkout_path, :class=>"btn btn-primary me-md-2" %>
    </div>
<% else %>
<p> Your cart is currently empty </p>
<%= link_to 'Return to Products', root_path, :class=>"btn btn-primary me-md-2" %>
<% end %>