 <h1 class="text-center mb-5"> Products </h1>

    <div class="row">
    <% if flash[:notice]%>
    <div class="alert alert-success" role="alert">
      <%= flash[:notice] %>
    </div>
    <%end%>
      <% @products.each do |item| %>
        <div class="card mb-3 mx-1 col-3" style="width: 18rem;">
          <div class="card-body">
            <h4 class="card-title text-center"> <%= item.name %> </h4>
            <%= image_tag item.image_location, :class=>"img-thumbnail mb-3"%>
            <p class="card-subtitle  mb-2 text-muted text-decoration-line-through">List Price $<%= item.list_price %><p>
            <p class="card-subtitle fst-italic mb-2">Our Price $<%= item.our_price %><p>
            <p class="card-text fw-light"><%= item.description.truncate(200, separator: " ") %></p>
            <%= button_to "Add to Cart", add_to_cart_path,:class=>"btn btn-secondary btn-sm", params:{product_id: item.id}%>
          </div>
        </div>
      <% end %>
    </div>